/*-------------------------------------------------------*
*                                                        *
*  Stylesheet für Portfolio Linda                        *
*  Start September 2022                                  *
*  Datei: style.css                                      *
*                                                        *
*--------------------------------------------------------*
*                                                        *
*   FARBEN                                               *
*   --------------------                                 *
*   Dunkelblau: color: #121f4f;                          *
*   Planet: #efebe6                                      *
*   HG-Verlauf: #d7cfcc #fff                             *
*   Gelb: #fcec98                                        *
*   Links: #707070                                       *
*   Footer: #d3d1cd                                      *
*   Footer-Verlauf: #ffffff00 #b3b2b2                    *
*   Textfarbe allgemein: #343434                         *
*                                                        *
*    SCHRIFT                                             *
*   --------------------                                 *
*   H1,H2                                                *
*   font-family: 'IBM Plex Sans', 'Open Sans', sans-serif; *
*   p                                                    *
*  font: 400 0.96em/1.5em 'Jost', 'Open Sans', sans-serif;  *
*                                                           *
------------------------------------------------------------*/

/* ANCHOR Schrifteinbindung*/

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost-VariableFont_wght.ttf");
  font-family: 'IBMPlexSans';
  src: url("../fonts/IBMPlexSans-ExtraLight.ttf");
  src: url("../fonts/IBMPlexSans-Light.ttf");
  src: url("../fonts/IBMPlexSans-Medium.ttf");
  src: url("../fonts/IBMPlexSans-Regular.ttf");
  src: url("../fonts/IBMPlexSans-SemiBold.ttf");
  src: url("../fonts/IBMPlexSans-Thin.ttf");
  src: url("../fonts/IBMPlexSans-Bold.ttf");
}



/*ANCHOR ALLGEMEIN 
-----------------------------------------------*/

/*ganze Website sanft scrollen*/
html {
  scroll-behavior: smooth;
}

/*den Body-Hintergund sanft leuchten lassen*/
@keyframes fade {
  0% {
    background: linear-gradient(#d7cfcc, #fff);
  }

  50% {
    background: url(../images/sterne-2-w.svg),
      linear-gradient(#d7cfcc, #fff);
    background-size: 20em;
    background-blend-mode: soft-light;
  }

  100% {
    background: url(../images/sterne-2-w.svg),
      linear-gradient(#d7cfcc, #fff);
    background-size: 20em;
  }
}

body {
  margin: 0px;
  background: url(../images/sterne-2-w.svg),
    linear-gradient(#d7cfcc, #fff);
  background-size: 20em;
  animation: fade 5s linear infinite alternate;
}

/*****ANCHOR MEDIA QUERIES ALLGEMEIN******/

/*ANCHOR L > 950px */

@media only screen and (min-width: 950px) {

  p,
  #wrapper {
    font-size: 0.96em;
  }

  #navi-line,
  .header-box,
  .lebenslauf-grid,
  .skills-grid,
  form,
  .footerbox,
  #thank_you,
  .impressum,
  .portfolio-grid {
    max-width: 900px;
    /*Auf sehr breiten Displays die Weite beschränken*/
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  form {
    padding: 20px 0 0 0;
    position: relative;
  }

  #thank_you {
    width: 100%;
  }

  .footerbox {
    padding: 40px 0 30px 0;
  }

  /* ANCHOR L Navi */

  nav {
    position: relative;
    border-top: 5px solid #121f4f;
    border-bottom: 5px solid #121f4f;
  }

  #navi-line ul li {
    margin: 5px 10px 5px 0px;
  }

  /*mobilen Button ausblenden*/
  .menubutton {
    display: none;
  }

  nav li {
    display: inline;
    margin: 0px 10px 0px 0px;
  }

  #navi-line {
    font-size: 1.2em;
    font-weight: 300;
    padding: 0px 10px;
  }

  .dropdown {
    left: -30%;
  }

  /* Aktuell aktiver Navi-Link */
  #now {
    text-decoration: overline;
    text-decoration-color: #fcec98;
  }

  /*ANCHOR L Header*/
  .header-box div {
    margin: 20px 0px -7px 10px;
  }

  #imglinda {
    margin: 20px 10px 0px 0px;
  }

  #imglindarespo {
    display: none;
  }

  /* ANCHOR L Lebenslauf */

  .lebenslauf-grid {
    grid-template-columns: 135px 500px;
  }

  .lebenslauf-grid p:nth-child(odd) {
    text-align: right;
  }

  .lebenslauf-grid p {
    margin: 0px;
    padding-bottom: 3%;
  }

  .lebenslauf-grid div {
    margin: 0px 0px 15px 0px;
  }

  /*ANCHOR L Skills*/

  .skills-grid {
    grid-template-columns: 135px auto 135px auto;
    row-gap: 10px;
  }

  .skills-grid p:nth-child(odd) {
    text-align: right;
  }

  .skills-grid p {
    margin: 0px;
    padding-bottom: 3%;
  }

  /*ANCHOR L Portfolio*/

  .portfolio-grid {
    grid-template-columns: 155px auto;
    grid-template-rows: 135px 50px 50px 50px 50px;
    grid-template-areas:
      "P h2"
      "h3-1 preBox"
      "h3-2 preBox"
      "h3-3 preBox"
      "h3-4 preBox"
    ;
    margin-bottom: 400px;
  }

  .portfolio-h3 {
    padding: 10px 20px 0 0;
    margin: 0px 0px 0px 0;
    cursor: pointer;
    text-align: right;
  }

  .portfolio-grid>div {
    max-width: 800px;
    max-height: 600px;
    min-height: 500px;
    margin: 0;
    float: left;
  }

  /*ANCHOR L Impressum*/

  main>h1 {
    margin: 20px 0px 0px 10px;
    line-height: normal;
  }

  section {
    margin: 40px 10px 0px 10px;
  }
}

/*ANCHOR M > 750px < 949px */

@media only screen and (min-width: 750px) and (max-width: 949px) {

  p {
    font-size: 0.96em;
  }

  #navi-line,
  .lebenslauf-grid,
  .skills-grid,
  form,
  .footerbox,
  #thank_you,
  .impressum {
    margin: 0px 40px;
  }

  form {
    padding: 20px 0 0 10px;
    position: relative;
  }

  #thank_you {
    margin-top: 0px;
  }

  .footerbox {
    padding: 40px 0 30px 0;
  }

  /* ANCHOR M Navi */

  nav {
    position: relative;
    border-top: 5px solid #121f4f;
    border-bottom: 5px solid #121f4f;
  }

  #navi-line ul li {
    margin: 15px 10px 10px 0px;
  }

  /*mobilen Button ausblenden*/
  .menubutton {
    display: none;
  }

  nav li {
    display: inline;
  }

  #navi-line {
    font-size: 1.2em;
    font-weight: 300;
    padding: 0px;
  }

  .dropdown {
    left: -30%;
  }

  /* Aktuell aktiver Navi-Link */
  #now {
    text-decoration: overline;
    text-decoration-color: #fcec98;
  }

  /* ANCHOR M Header */

  .header-box {
    margin: 20px 40px 0px 40px;
  }

  #imglinda {
    margin: auto;
    padding: 10px 0 0 0;
  }

  #imglindarespo {
    display: none;
  }

  /* ANCHOR M Lebenslauf */

  .lebenslauf-grid {
    grid-template-columns: max-content auto;
  }

  .lebenslauf-grid p:nth-child(odd) {
    text-align: right;
  }

  .lebenslauf-grid p {
    margin: 0px;
    padding-bottom: 3%;
  }

  .lebenslauf-grid div {
    margin: 0px 0px 15px 0px;
  }

  /* ANCHOR M Skills */

  .skills-grid {
    grid-template-columns: 129px 60%;
    row-gap: 10px;
  }

  .skills-grid p:nth-child(odd) {
    text-align: right;
  }

  .skills-grid p {
    margin: 0px;
    padding-bottom: 3%;
  }

  /* ANCHOR M Portfolio */

  .portfolio-grid {
    grid-template-columns: 155px auto;
    grid-template-areas:
      "P h2 h2 h2"
      "h3-1 h3-2 h3-3 h3-4"
      "preBox preBox preBox preBox"
    ;
    margin: 0px 40px;
  }

  .portfolio-grid>div {
    height: 600px;
    margin: 0 0 100px 0;
  }

  .portfolio-h3 {
    text-align: center;
  }
}

/*ANCHOR S < 749px*/

@media only screen and (max-width: 749px) {

  p {
    font-size: 1.1em;
  }

  #navi-line,
  .lebenslauf-grid,
  .header-box,
  .skills-grid,
  form,
  .footerbox,
  #thank_you,
  .impressum {
    margin: 0px 20px;
  }

  #wrapper {
    max-width: 100%;
  }

  .footerbox {
    padding: 40px 0px;
  }

  #thank_you {
    margin-top: 0px;
  }

  /* ANCHOR S Navi */

  nav {
    position: relative;
    border: 0px;
    margin-bottom: 35%;
    font-size: 1.5em;
  }

  #navi-line {
    display: none;
    /*Menü wird über Script ausgeklappt oder versteckt. Standardansicht: versteckt*/
    margin: 0px 0px 0px 20px;
  }

  #navi-line ul li {
    margin: 25px 10px 10px 0px;
  }

  #navi-line a,
  #now {
    color: #121f4f;
    font-size: 1em;
    font-weight: 400;
  }

  /*Hamburger Symbol*/
  .menubutton img {
    margin: 20px 0px 0px 20px;
  }

  form {
    padding: 20px 0 0 10px;
    position: relative;
  }

  /* ANCHOR S Header */

  header {
    max-width: 100vw
  }

  #imglinda {
    display: none;
  }

  /* ANCHOR S Lebenslauf */

  .lebenslauf-grid {
    display: grid;
    column-gap: 10px;
    margin: 0px 20px 0px 20px;
  }

  .lebenslauf-grid p,
  .lebenslauf-grid h2 {
    margin: 3% 0%;
  }

  .lebenslauf-grid p:nth-last-child(2n+3) {
    margin: 0px;
    padding-bottom: 3%;
  }

  /* ANCHOR S Skills */

  .skills-grid {
    display: grid;
    column-gap: 10px;
    margin: 0px 20px 0px 20px;
  }

  .skills-grid p,
  .skills-grid h2 {
    margin: 3% 0%;
  }

  .skills-grid p:nth-last-child(2n+3) {
    margin: 0px;
    padding-bottom: 3%;
  }

  /* ANCHOR S Portfolio */
  .portfolio-grid {
    grid-template-columns: auto auto;
    grid-template-areas:
      "h2 h2"
      "h3-1 h3-2"
      "h3-3 h3-4"
      "preBox preBox"
    ;

    margin: 0px 20px 0px 20px;
  }

  .portfolio-h3 {
    /*padding: 10px 20px 0 0;*/
    margin: 0px 0px 0px 0;
    text-align: center;
  }

  .portfolio-grid>div {
    height: 300px;
  }

}

/*ANCHOR M/S Impressum*/

@media only screen and (max-width: 949px) {
  main>h1 {
    margin: 20px 0px 0px 0px;
    line-height: normal;
  }

  section {
    margin: 40px 0px 0px 0px;
  }

  #datschu {
    word-wrap: break-word;
    font: 300 1.5em/1em 'IBM Plex Sans', 'Open Sans', sans-serif;
  }

  .m-elements li a {
    word-wrap: break-word;
  }

  .impressum h1 {
    font: 200 2.5em 'IBM Plex Sans', 'Open Sans', sans-serif;
  }
}


/*ANCHOR SCHRIFT-FORMATIERUNG
-----------------------------------------------*/

h1 {
  text-transform: uppercase;
  color: #121f4f;
  font: 200 3.5em 'IBM Plex Sans', 'Open Sans', sans-serif;
}

h2 {
  text-transform: uppercase;
  font: 300 2.5em/0.5em 'IBM Plex Sans', 'Open Sans', sans-serif;
}

h2:nth-last-child(2n+1) {
  color: #121f4f;
}

/*h2 Unterstreichung im Lebenslauf*/
#portfolio::after,
h2:nth-last-child(2n+1)::after {
  content: url(../images/line.svg);
  margin-left: -10px;
  display: block;

}

/*keine h2 Unterstreichung im Impressum*/
section h2:nth-last-child(2n+1)::after {
  content: none;
}

p,
#wrapper {
  font-family: 'Jost', 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #343434;
}

footer {
  font: 400 0.96em/1.5em 'Jost', 'Open Sans', sans-serif;
}

#navi-line ul li {
  font-family: 'IBM Plex Sans', 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/******ANCHOR LISTEN*******/
ul {
  list-style: none;
  margin: 10px 0px;
  padding: 0px;
}



/******ANCHOR LINKS*******/
a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}

.portfolio-h3 a:link,
.portfolio-h3 a:visited,
.portfolio-h3 a:hover,
.portfolio-h3 a:focus {
  color: inherit;
  text-decoration: none;
}

footer a:link,
footer a:visited {
  color: #343434;
  text-decoration: none;
}

#navi-line a:hover,
#navi-line a:focus {
  text-decoration: overline;
  text-decoration-color: #fcec98;
}

a:hover,
a:focus,
footer a:hover,
footer a:focus {
  text-decoration: underline;
  text-decoration-color: #fcec98;
}

/*ANCHOR Navigation
-----------------------------------------------*/

.dropdown {
  display: none;
  position: absolute;
  background: #d7cfcc;
  z-index: 2;
}

.dropdown li {
  display: list-item;
  float: left;
  position: relative;
  min-width: 190px;
}

.dropdown li a {
  background: transparent;
  color: #555;
  padding: 1rem 2rem;
}

.drop {
  position: relative;
}

.arrow {
  border: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  margin: 0 0 4px 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/******ANCHOR HEADER-BOX*******/

.header-box {
  display: grid;
  grid-auto-columns: minmax(0, 540px) min-content;
  align-items: end;
  min-height: 85vh;
}

#imglinda {
  grid-area: 1 / 2 / 1 / 2;
  max-width: 300px;
  filter: grayscale(100%) contrast(110%);
  transition: all 0.5s ease 0s;
  place-self: center;
}

/*Image responsive*/
#imglindarespo {
  max-width: 150px;
  float: right;
  margin: 20px 20px 0px 0px;
}

.header-box div {
  grid-area: 1 / 1 / 2 / 1;
  color: #121f4f;
  place-self: center;
}

.header-box div p {
  font-size: 1.1em;
}

.header-box div p,
h1 {
  margin: 10px 10px 0px 0px;
}

/******ANCHOR LEBENSLAUF GRID*******/

.lebenslauf-grid {
  display: grid;
  column-gap: 20px;
}

h2:nth-last-child(2n+1) {
  padding-top: 35px;
}

.lebenslauf-grid p:nth-child(odd) {
  color: #121f4f;
}

/******ANCHOR SKILLS GRID*******/

.skills-grid {
  display: grid;
  column-gap: 20px;
}

.skills-grid>div {
  margin: 0px 0px 15px 0px;
  float: left;
  height: 10px;
  background-color: #d7cfcc;
  border-radius: 10px 10px 10px 10px;
}

.progress-bar {
  height: 10px;
  background-color: #121f4f;
  border-radius: 10px 10px 10px 10px;
  transition: all 01s;
}

.skills-grid p:nth-child(odd) {
  color: #121f4f;
}

/******ANCHOR Portfolio Grid*******/

#portfolio {
  grid-area: h2;
  padding-top: 35px;
}

.portfolio-grid {
  display: grid;
}

.portfolio-grid img {
  margin: 3% 0%;
  max-width: max-content;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-grid img:not(:first-of-type) {
  display: none;
}

.portfolio-grid>div {
  grid-area: preBox;
  overflow: hidden;
  border: 5px solid #a9afc4;
  position: relative;
}

.portfolio-h3 {
  font: 200 1.4em/1.5em 'Jost', 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #121f4f;
  cursor: pointer;
}

.portfolio-h3:nth-of-type(1) {
  grid-area: h3-1;
  color: #a9afc4;
}

.portfolio-h3:nth-of-type(2) {
  grid-area: h3-2;
  color: #707eb0;
}

.portfolio-h3:nth-of-type(3) {
  grid-area: h3-3;
  color: #38477d;
}

.portfolio-h3:nth-of-type(4) {
  grid-area: h3-4;
  color: #121f4f;
}

.portfolio-grid p {
  grid-area: P;
  color: #121f4f;
}

#prevbtn,
#nxtbtn {
  cursor: pointer;
  height: auto;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  top: 50%;
  border: initial;
}

#prefbtn {
  left: 0;
}

#nxtbtn {
  right: 0;
}

/******ANCHOR Impressum*******/

/*Inhaltsverzeichnis Impressum*/
h3+ul {
  line-height: 2em;
}

/*Links Impressum*/
h3+ul li a:link {
  color: #707070;
}

/*Pfeil im Inhaltsverzeichnis Impressum*/
h3+ul li::before {
  content: url(../images/arrow_link.svg);
  height: 1.33em;
  width: 1em;
  display: inline-block;
}

/******ANCHOR KONTAKTFORMULAR*******/

form * {
  box-sizing: border-box;
}

fieldset input,
fieldset textarea {
  background-color: #ffffff4d;
  width: 100%;
  position: relative;
  padding: 25px;
}

fieldset input {
  height: 60px;
  margin-bottom: 20px;
}

#contact_input_dataprot {
  font-size: 0.9em;
  color: #343434;
  margin: 0px 0px 10px 0px;
}

#datenschutz {
  margin-right: 5px;
  height: 15px;
  width: 15px;
  accent-color: #fcec98;
  color-scheme: light;
  color: #707070;
}

input[type=submit] {
  margin: 5px 0px;
  border: none;
  background-color: #fcec98;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #707070;
  font-weight: 600;
  overflow: hidden;
}

input[type=submit]:hover {
  background-color: #fff;
  transition: all 0.3s linear;
}

input,
textarea {
  margin: 0px;
  border: #fcec98 2.5px solid;
  border-radius: 10px;
  outline: none;
  font-family: 'Jost', 'Open Sans', sans-serif;
  resize: none;
  overflow: auto;
  transition: all 0.5s linear;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  border: 2px solid #ffffff;
  transition: all 0.5s linear;
}

fieldset {
  margin: 10px 0px;
  border: none;
  padding: 0px;
}

/*vorgegebener Text im Formular*/
::placeholder {
  color: #707070;
  font-size: 1em;
}

#kontakt {
  padding: 40px 0px 10px 0px;
  color: #343434;
}

#thank_you {
  background: #c4c3c1;
  border: #fcec98 2.5px solid;
  border-radius: 10px;
  /* padding: 10%; */
  text-align: center;
  font: 200 1.4em/1.5em 'Jost', 'Open Sans', sans-serif;
  position: absolute;
  z-index: 1;
  height: 70%;
  top: 29%;
}

/* #waiting {
  content: url(../images/hayball.png);
  rotate: 90deg;
  animation: fly 3s linear infinite alternate;
  display: block;
}

@keyframes fly {
  0% {
    margin-left: -120%;
  }

  25% {
    rotate: 180deg;
  }

  50% {
    margin-left: 0%;
    rotate: 0deg;
  }

  75% {

    rotate: -90deg;
  }

  100% {
    margin-left: 100%;
    rotate: -180deg;
  }
} */



/*ANCHOR FOOTER
-----------------------------------------------*/

footer {
  background-image: linear-gradient(180deg, #ffffff00, #b3b2b2), url(../images/footer-hg2.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  color: #343434;
}

/*Footerflexbox*/
.footerbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer p,
footer ul {
  margin: 0px;
  padding: 20px 0px;
  color: #000000;
}

/*Social Media Buttons*/
.fa-square-xing:before,
.fa-linkedin:before {
  font-size: 1.6em;
  color: #707070;
}



/****ANCHOR Javascript NACH OBEN BUTTON 
(aktuell deaktiviert)*******/

/*
#button {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #dad3d0;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}

#button:hover {
  cursor: pointer;
  background-color: #707070;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 2.25em;
  line-height: 50px;
  color: #121f4f;
}
*/

#jButton {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s, bottom 2.5s;
  visibility: hidden;
  --content: url(../images/Rakete-pfeil2.svg);
}

#jButton:hover {
  cursor: pointer;
  content: url(../images/Rakete-pfeil3.svg);
}

#jButton::after {
  content: var(--content);
}

/*ANCHOR SVG
-----------------------------------------------*/

[ name=planet] {
  position: absolute;
  z-index: -3;
  margin: 2% 10% 30% 70%;
  right: 30%;
}

[ name=mars] {
  position: absolute;
  z-index: -2;
  opacity: 0.5;
  margin: -5% 0% 0% 0%;
}

[ name=confetti] {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 15%;
  width: 100px;
}

[ name=confetti1] {
  position: absolute;
  z-index: -4;
  left: 40%;
  top: 1000px;
  width: 100px;
  transform: rotate(210deg);
}